@media screen and (max-width: 1200px) {
  :root {
    --padding-layout: 0 5%;
    --padding-search-bar-items: 2rem;
  }

  .job-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
  }

  .search-bar {
    flex-shrink: 1;
  }

  footer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 768px) {
  .search-label {
    padding: 0;
    min-width: 10rem;
  }

  .search-bar > label:first-child img,
  .search-bar > label:first-child:after {
    display: none;
  }

  .search-bar {
    padding: 1rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .filter-mobile,
  .search-mobile {
    display: block;
    width: auto;
  }

  .btn-sec {
    padding: 0.8rem;
    background-color: var(--color-violet);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.1rem;
  }

  .btn-tetiary {
    padding: 0.8rem;
    cursor: pointer;
  }

  .white-svg {
    filter: invert(100);
  }

  .job-list {
    grid-template-columns: 1fr;
  }

  .company-header {
    flex-direction: column;
    align-items: center;
  }

  .company-logo {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    transform: translateY(-50%);
  }

  .company-header-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding-top: 3.5rem;
  }

  .company-header-info h2 {
    font-size: 1.5rem;
  }

  .company-header-info button {
    font-size: 1rem;
  }

  .job-description {
    padding: 2rem;
  }

  .job-description-details {
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
  }

  .job-description-details button {
    width: 100%;
  }

  .job-banner {
    flex-direction: column;
    align-items: stretch;
  }

  .job-banner-desc {
    display: none;
  }

  .job-banner button {
    width: 100%;
  }

  .job-description p,
  .job-description li {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .task {
    font-size: 1.6rem;
  }
}
