@import url(_reset.scss);
@import url(_header.scss);
@import url(_searchBar.scss);
@import url(_joblist.scss);
@import url(_jobDetails.scss);
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

:root {
  --color-violet: #5964e0;
  --color-light-violet: #939bf4;
  --color-very-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #fff;
  --color-light-grey: #f4f6f8;
  --color-grey: #9daec2;
  --color-dark-grey: #6e8098;
  --color-checkbox: #e7e8e9;
  --font-size-h1: 2.8rem;
  --line-height: 1.5;
  --line-height-h1: 3.4rem;
  --font-size-h2: 2.4rem;
  --line-height-h2: 2.9rem;
  --font-size-h3: 2rem;
  --line-height-h3: 2.4rem;
  --font-size-h4: 1.4rem;
  --font-size-input: 1.2rem;
  --line-height-h4: 1.8rem;
  --font-size-body: 1.6rem;
  --line-height-body: 2.6rem;
  --border-radius-xxs: 0.3rem;
  --border-radius-xs: 0.5rem;
  --border-radius-s: 0.6rem;
  --border-radius-m: 1.2rem;
  --border-radius-l: 1.5rem;
  --bg-btn: #eeeffc;
  --bg-btn-hover: #c5c9f4;
  --padding-layout: 0 10%;
  --padding-search-bar: 1rem;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-dark-grey);
}

#container {
  min-height: 100vh;
  overflow: auto;
  transition: 0.2s linear;
  background: var(--color-light-grey);
}

//hide mobile buttons
.filter-mobile,
.search-mobile {
  display: none;
}

//popup elements
.search-bar-more-info {
  display: none;
}

.search-bar-more-info {
  //display: flex;
  background-color: var(--color-white);
  border-radius: var(--border-radius-s);
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  z-index: 3;
  transform: translate(-50%, -50%);
  padding: var(--padding-search-bar-items);
}

.search-bar-more-info label:first-child:after {
  content: '';
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background-color: var(--color-dark-grey);
  opacity: 0.2;
}

.search-bar-more-info .btn-primary {
  width: 100%;
}

.search-bar-more-info label {
  padding: var(--padding-search-bar);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

// media queries
@media screen and (max-width: 1200px) {
  :root {
    --padding-layout: 0 5%;
    --padding-search-bar-items: 2rem;
  }

  .job-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
  }

  .search-bar {
    flex-shrink: 1;
  }

  footer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 768px) {
  .search-label {
    padding: 0;
    min-width: 10rem;
  }

  .search-bar > label:first-child img,
  .search-bar > label:first-child:after {
    display: none;
  }

  .search-bar {
    padding: 1rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .filter-mobile,
  .search-mobile {
    display: block;
    width: auto;
  }

  .btn-sec {
    padding: 0.8rem;
    background-color: var(--color-violet);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.1rem;
  }

  .btn-tetiary {
    padding: 0.8rem;
    cursor: pointer;
  }

  .white-svg {
    filter: invert(100);
  }

  .job-list {
    grid-template-columns: 1fr;
  }
}
